.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-text {
  text-align: center;
}

.home-title {
  font-family: Chalkduster;
  font-size: 30pt;
  padding: 20px;
  border-radius: 5%;
  box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -webkit-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -moz-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
}

.hero-image {
  background-image: url("/src/images/cooking.png");
  background-color: #cccccc;
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(99, 54, 5);
}

.itemWrapper {
  padding: 15px;
  overflow: visible;
  transition: 0.3s;
  animation: ease-in-out;
  border-radius: 5px !important;
  color: #21243f;
  box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -webkit-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  -moz-box-shadow: 1px -1px 39px -1px rgba(34, 34, 34, 0.82);
  font-family: futura;
}

.itemWrapper:hover {
  background-color: #ecaf2c;
  color: #ffffff;
  box-shadow: 0 5px 15px rgba(210, 199, 218, 0.4);
  transform: scale(1.07);
}

.listWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap !important;
  align-items: center;
  text-align: center;
  margin: auto;
  color: #21243f;
  font-family: futura;
}

.list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.card-image-top {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
}

.search {
  justify-content: flex-end;
  display: flex;
  margin-left: 10px;
  margin-right: 100px;
}

.detailBackground {
  color: #ecaf2c;
}
